$primary: #213F7D;
$primary-border: rgba(33, 63, 125, 0.2);
$text-color: #545F7D;
$text-color-bg: rgba(84, 95, 125, 0.06);
$placeholder: rgba(84, 95, 125, 0.6);
$secondary: #39CDCC;
$secondary-bg: rgba(57, 205, 204, 0.06);
$border: rgba(84, 95, 125, 0.15);
$white: #FFFFFF;
$gray:  #FDFDFD;
$bg: #E5E5E5;
$yellow: #E9B200;
$yellow-bg: rgba(233, 178, 0, 0.1);
$red: #E72253;
$red-bg: rgba(228, 3, 59, 0.1);
$green: #39CD62;
$green-bg: rgba(57, 205, 98, 0.06);