@import '../../components/defaultStyles/Colors.scss';
@import '../../components/defaultStyles/MediaQueries.scss';
@import '../../components/defaultStyles/Typography.scss';

.userDetails {
    background: $bg;
    display: flex;
    main {
        display: flex;
        flex-flow: column nowrap;
        gap: 32px;
        padding: 80px;
        width: 75%;
        @include screen-size(tablet-only){
            justify-content: center;
            width: 100%;
            padding: 40px;
          
        }
        @include screen-size(phone-only){
            padding: 20px;
        }
        @include screen-size(desktop-only){
            
           
        }
    }
    a{
        text-decoration: none;
        color: $text-color;
    }
    &-back {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    &-heading {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        justify-content: space-between;
        h2{
            color: $primary;
        }
        &-btn{
            button{
                background-color: transparent;
                padding: 8px 15px;
                border-radius: 8px;
                font-weight: $semibold;
                font-size: 12px;
                cursor: pointer;
            }
            button:first-child{
                border: 1px solid $red;
                color: $red;
                margin-right:1em
            }
            button:last-child{
                border: 1px solid $secondary;
                color: $secondary;
            }
        }
    }

    &-display {
        
        display: flex;
        flex-flow: column nowrap;
        gap: 24px;
        background-color: $white;
        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        padding: 24px 24px 0 24px;
        &-box {
            display: flex;
            flex-flow: row wrap;
            gap: 32px;
            align-items: center;
            &-name {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                gap: 16px;
                &-img {
                    width: 100px;
                    border-radius: 100%;
                    img{
                        width: 100%;
                        border-radius: 100%;
                    }
                }
                p:first-child {
                    color: $primary;
                    font-size: 22px;
                    font-weight: $medium;
                }
            }
            hr {
                height: 50px;
                border-left: 1px solid $primary;
                opacity: 0.2;
                @include screen-size(tablet-only){
                    height: 0;
                    width: 100%;
                    border-left: none;
                    border-bottom: 1px solid $primary;
                }
            }
            &-tier {
                p{font-size: 14px; font-weight: $medium;}
                span{color: $yellow;}
                span:first-child{color: $yellow;}
            }
            &-balance {
                color: $primary;
                p:first-child{
                    font-weight: $medium;
                    font-size: 22px;
                }
                p:last-child{
                    font-size: 12px;
                }
            }
        }

        &-menu {
            display: flex;
            flex-flow: row;
            width: 100%;
            overflow-x: auto;
            scrollbar-width: none;
            gap: 2em;
            color: black;
            cursor: pointer;
            span{
                text-wrap: nowrap;
                padding: 0 5px 10px;
            }
        }
    }

    &-sidebar{
        width: 18%;
        @include screen-size(desktop-only){
            width: 25%;
        }
        @include screen-size(tablet-only){
            display: none;
        }
    }
    &-sidebar-mobile {
        display: none;
        @include screen-size(tablet-only){
            display: block;
        }
    }
    @include screen-size(tablet-only){
        flex-flow: column nowrap;
    }
}

.activeUserMenu {
    border-bottom: 2px solid $secondary;
    color: $secondary;
}