@import '../../components/defaultStyles/Colors.scss';
@import '../../components/defaultStyles/MediaQueries.scss';
@import '../../components/defaultStyles/Typography.scss';

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    background-color: $white;
    .header-left {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 10em;
        &-img {
            width: 144.8px;
            img {
                width: 100%;
                @include screen-size(tablet-only){
                    display: none;
                }
            }
        }
        &-input{
            display: flex;
            width: 400px;
            input[type='text']{
                border: 1px solid $primary-border;
                padding: 0.5rem 1rem;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                outline: none;
                width: 100%;
                ::placeholder {
                    color: $text-color;
                    line-height: 16px;
                    font-size: 14px;
                    opacity: 0.7;
                }
            }
            &-search{
                padding: 0.5rem 0.9rem;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                background: $secondary;
                border: 1px solid $secondary;
                cursor: pointer;
            }

            @include screen-size(desktop-only){
                width: 250px;
            }
        }
        @include screen-size(desktop-only){
            gap: 5em;
        }
        @include screen-size(tablet-only) {
            gap: 10px;
            justify-content: center;
            &-img {
                width: 200px;
            }
            &-input {
                width: 80%;
            }
        }
    }
    .nav-profile {
        display: flex;
        align-items: center;
        gap: 24px;
        color: $primary;
        cursor: pointer;
        &-docs{
            text-decoration: underline;
        }
        &-picture {
            display: flex;
            gap: 8px;
            img:first-child {
                width: 48px;
                object-fit: cover;
                border-radius: 100%;
            }
            &-user {
                display: flex;
                align-items: center;
                font-weight: $medium;
            }
        }
    }
    @include screen-size(tablet-only) {
        justify-content: center;
        flex-direction: column-reverse;
        gap: 16px;
        padding: 24px;
    }
    @include screen-size(desktop-only) {
        // justify-content: center;
    }
}